@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbf3fb;
  --foreground: #2f4f4f;
  --link-hover: #0056b3;
  --link-color: #974900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3d;
    --foreground: #f0f0f0;
    --link-hover: #4ea8de;
    --link-color: #ffcc00;
  }
}

body,
footer {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:focus {
  outline: none;
}
