@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #87CEEB;
  --foreground: #2F4F4F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3d;
    --foreground: #F0F0F0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Exception for anchor elements */
a {
  color: inherit; /* Use the same color as the surrounding text */
  text-decoration: underline; /* Optional: To keep the underlining for anchors */
}

a:hover {
  color: var(--foreground); /* Override the hover color if needed */
}

@media (prefers-color-scheme: dark) {
  /* Dark mode exception for anchor elements */
  a {
    color: #1e90ff; /* Example: change color in dark mode */
  }
  
  a:hover {
    color: #00bfff; /* Example: lighter blue on hover */
  }
}
